/* Estilos básicos para la página */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    margin: 0;
}

p {
    margin: 10px 0;
}

main {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

section {
    margin-top: 20px;
}

h2 {
    color: #007bff;
}

ul {
    list-style-type: square;
}

li {
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.grid-item {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
}

#showMessageButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#showMessageButton:hover {
    background-color: #218838;
}


/* Estilos para el formulario de contacto */
#contact {
    margin-top: 20px;
}

#contactForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

#contactForm label {
    margin-top: 10px;
}

#contactForm input,
#contactForm textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contactForm button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #218838;
}